
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(235, 236, 233);
        }

        nav {

            background: lightseagreen;
            overflow: auto;
            width: 100%;

        }

        .left {
            float: left;
        }

        .right {
            float: right;
            margin-right: 50px;
        }

        li {
            display: inline-block;
        }

        .left li a {
            width: 100px;
            display: block;
            background: none;
            font-size: 15px;
            font-family: arial;
            text-decoration: magenta;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            padding: 10px;
        }

        .right li a {
            width: 50px;
            display: block;
            color: white;
            padding: 10px;
            text-align: center;


        }



        .left li a:hover,
        .right li a:hover {
            background: #000;
            border-radius: 10px;
        }

        .fa-home,
        .fa-facebook,
        .fa-twitter,
        .fa-google-plus,
        .fa-youtube {

            font-size: 20px;

        }

        .form {

            overflow: auto;
            width: 20%;
            float: right;
            margin-top: 5%;
        }

       * {box-sizing:border-box}

       .slideshow-container {
                width: 500%;
                position: relative;
                margin: 0;
}

.slider {
  display: none;
}
        /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slider {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes slider {
  from {opacity: .4}
  to {opacity: 1}
}
        .article{
            background-color: none;
            width: 750px;
            height: 750px;
            margin-left: 20px;
            margin-top: 10px;
        }
        .notification{
            background-color: #999999;
            width: 400px;
            height: 40px;
            margin-left: 900px; 
            text-align: center;
            margin-top: 10px;
            border-radius: 15px;

        }
       .notification-box{
        width: 400px;
        height: 480px;
        background-color: white;
        margin-top: 20px;
       }
       .footer{
        background-color: black;
        margin-left: 0;
        width: 100%;
        height: 40px;
        text-align: center;
       }
       .fa-copyright{
        color: white;
        margin-top: 10px;
       }
       
       
